[submodule "node_modules/@redhat-cloud-services/frontend-components-config-utilities/repos/insights-chrome-build"]
	path = node_modules/@redhat-cloud-services/frontend-components-config-utilities/repos/insights-chrome-build
	url = https://github.com/RedHatInsights/insights-chrome-build.git
